<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DCMP-A safe,high available docker container management platform</title>
<meta name="description" content="">
<meta name="author" content="">
  {% load static %}
<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static "Dashboard/img/favicon.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{%  static "Dashboard/img/apple-touch-icon.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "Dashboard/img/apple-touch-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "Dashboard/img/apple-touch-icon-114x114.png" %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static "Dashboard/css//bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Dashboard/fonts/font-awesome/css/font-awesome.css" %}">

<!-- Slider
    ================================================== -->
<link href="{%  static "Dashboard/css/owl.carousel.css" %}" rel="stylesheet" media="screen">
<link href="{% static "Dashboard/css/owl.theme.css" %}" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{%  static "Dashboard/css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Dashboard/css/responsive.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Dashboard/css/prettyPhoto.css" %}">
<link href='#css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='#css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static "Dashboard/js/modernizr.custom.js" %}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body >
<!-- Navigation
    ==========================================-->
<nav id="menu" style="background-image:url({% static "Dashboard/img/testimonial-bg.jpg" %});" class="navbar navbar-default navbar-fixed-top">
  <div  class="container" > 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html">DCMP<strong><span class="color">.</span></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#home" class="page-scroll">Home</a></li>
        <li><a href="/#services-section" class="page-scroll">Services</a></li>
        <li><a href="/#about-section" class="page-scroll">About</a></li>
        <li><a href="/#contact-section" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>


<!-- Contact Section -->
<div id="contact-section" class="text-center" style="background-image:url({% static "Dashboard/img/header-bg.jpg" %});min-height:400px;*+height:100%;_height:400px;">
  <div class="container">
  </br></br></br>
    <div class="section-title center"  %}>
      <h2><strong>Welcome to </strong>DCMP</h2>
	   <h4>To provide a precise, efficient and stable container management platform</h4>
    </div>
    <div class="text-center login panel" style="background-image:url({% static "Dashboard/img/login-form.jpg" %});">
      <hr> 
      <p style="color:#ff1493;font-size:20px;"><strong>Log in to Management Platform</strong></p>
	  <div class="item">
     
	  </div>
      {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

	  <form method="post" class="form-horizontal ">
        {% csrf_token %}
        <h4><i class="fa fa-user fa-lg">&nbsp;</i><input type="username"  style="width:400px ;background-color: rgba(0, 0, 0, 0.4);  "  class="center text-center" placeholder="Username" name="username"></h4>
           </br>
          <h4><i class="fa fa-lock fa-lg">&nbsp;</i><input type="password"  style="width:400px ;background-color: rgba(0, 0, 0, 0.4);  "  class="center text-center " placeholder="Password" name="password"></h4>
      </br></br></br>
          <input type="submit" class="btn btn-default" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

</div>
</div>
<nav id="footer" style="position:relative;">
  <div class="container" >
    <div class="pull-left fnav">
      <p>Copyright &copy; 2018 DCMP <a href="http://geekfan.top/" target="_blank" title="开发者博客">Dev Blogs</a>  </p>
    </div>
  </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="{% static "Dashboard/js/jquery.1.11.1.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="{% static "Dashboard/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "Dashboard/js/SmoothScroll.js" %}"></script>
<script type="text/javascript" src="{% static "Dashboard/js/jquery.prettyPhoto.js" %}"></script>
<script type="text/javascript" src="{% static "Dashboard/js/jquery.isotope.js" %}"></script>
<script src="{% static "Dashboard/js/owl.carousel.js" %}"></script>

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="{% static "Dashboard/js/main.js" %}"></script>
</body>
</html>