<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DCMP-A safe,high available docker container management platform</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
    {% load static %}
<link rel="shortcut icon" href="{% static "Promotion/img/favicon.ico" %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{%  static "Promotion/img/apple-touch-icon.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "Promotion/img/apple-touch-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "Promotion/img/apple-touch-icon-114x114.png" %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static "Promotion/css//bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Promotion/fonts/font-awesome/css/font-awesome.css" %}">

<!-- Slider
    ================================================== -->
<link href="{%  static "Promotion/css/owl.carousel.css" %}" rel="stylesheet" media="screen">
<link href="{% static "Promotion/css/owl.theme.css" %}" rel="stylesheet" media="screen">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{%  static "Promotion/css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Promotion/css/responsive.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Promotion/css/prettyPhoto.css" %}">
<link href='#css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
<link href='#css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static "Promotion/js/modernizr.custom.js" %}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]--!>
</head>
<body>
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">DCMP<strong><span class="color">.</span></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll">Home</a></li>
        <li><a href="#services-section" class="page-scroll">Services</a></li>
        <li><a href="#about-section" class="page-scroll">About</a></li>
        <li><a href="#contact-section" class="page-scroll">Contact</a></li>
          <li><a href="/dashboard/login" class="page-scroll">Dashboard</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <h1>Welcome to <strong><span class="color">DCMP.</span></strong></h1>
    <p>We create  <strong>Docker </strong> Container <strong>Management Platform
</strong> that deliver great user experiences.</p>
    <a href="#services-section" class="fa fa-angle-down page-scroll"> </a> </div>
</header>

<!-- Services Section -->
<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Our <strong>Services</strong></h2>
      <hr>
      <div class="clearfix"></div>
      <p>To provide a precise, efficient and stable container management platform</p>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-desktop"></i>
        <h4><strong>Web Monitor</strong></h4>
        <p>Concise, efficient, data visualization</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-terminal"></i>
        <h4><strong>Shell Management</strong></h4>
        <p>Efficient, responsive, second-level deployment</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-pie-chart"></i>
        <h4><strong>Analystics</strong></h4>
        <p>Data visualization, dynamic updates</p>
      </div>
      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-line-chart"></i>
        <h4><strong>Deploy Services</strong></h4>
        <p>Multiple mirroring, load balancing, high availability</p>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Section -->
<div id="works-section">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>Our <strong>Works</strong></h2>
      <hr>
      <div class="clearfix"></div>
	  <p>One container platform innovation.</p>
      <p>To provide a more efficient and safe docker container management platform.</p>
    </div> 
    
  </div>
</div>
<!-- About Section -->
<div id="about-section">
  <div class="container">
    <div class="section-title text-center center">
      <h2><strong>About</strong> me</h2>
      <hr>
      <div class="clearfix"></div>
      <p>A Red Hat Certified Engineer,A Linux System Architect,Docker official developer.</p>
    </div>

  </div>
</div>


<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>What <strong>clients</strong> say</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="testimonial" class="owl-carousel owl-theme">
          <div class="item">
            <p>Very good use, very stable, look forward to new version</p>
            <p><strong>BaoJin Xu</strong>, DevOps, TianTianCloud Company.</p>
          </div>
          <div class="item">
            <p>Easy to manage, quick deployment</p>
            <p><strong>GuoXin Yuan</strong>, Community members, GeekCloud.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
{% load bootstrap3 %}
<div id="contact-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong>Contact</strong> us</h2>
      <hr>
     
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
        <p>33 Runyang South Road<br>
          YangZhou, Zip code 225127 </p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>admin@geekfan.club</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> +86 15005273301</p>
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <hr>
      <h3>Leave us a message</h3>

      <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
          {% buttons %}
                <button	type="submit"	class="btn	btn-primary">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% else %}
                        ★ Send Message
                    {% endif %}
	            </button>
		{%	endbuttons	%}
      </form>
    </div>
  </div>
</div>
</div>
<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <p>Copyright &copy; 2018 DCMP <a href="http://geekfan.top/" target="_blank" title="开发者博客">Dev Blogs</a>  </p>
    </div>
  
  </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="{% static "Promotion/js/jquery.1.11.1.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="{% static "Promotion/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "Promotion/js/SmoothScroll.js" %}"></script>
<script type="text/javascript" src="{% static "Promotion/js/jquery.prettyPhoto.js" %}"></script>
<script type="text/javascript" src="{% static "Promotion/js/jquery.isotope.js" %}"></script>
<script src="{% static "Promotion/js/owl.carousel.js" %}"></script>

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="{% static "Promotion/js/main.js" %}"></script>
</body>
</html>